[alias]
  br = branch
  ch = cherry-pick
  ci = commit
  clean-branches = !git branch --merged | grep -v \\* | xargs git branch -D
  co = checkout
  commend = commit --amend --no-edit
  dump = cat-file -p
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  pl = pull --rebase
  plog = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  poule = pull
  poop = stash pop
  ps = pull --rebase --autostash
  rb = recreate-branch
  rem = remote
  st = status
  type = cat-file -t
[color]
  ui = true
