[alias]
    bommit = commit-branch-name
    br = branch
    ch = cherry-pick
    ci = commit
    cb = clean-branches
    co = checkout
    commend = commit --amend --no-edit
    md = merge-with-default
    nah = reset HEAD --hard
    nope = wipe-changes
    okbye = pull-default-and-clean-branches
    pl = pull --rebase
    plog = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    poop = stash pop
    pwl = push --force-with-lease
    ps = pull --rebase --autostash
    rb = recreate-branch
    rbd = rebase-with-default
    st = status
[color]
    ui = true
